<!--<div class="row">
        <div class="col-xs-12">
          <p>Add new gamecontrol or odd or even!</p>
          <label>Game control</label>
          <input
            type="text"
            class="form-control"
            #gamecontrolrNameInput>
            <hr>
            <button
            class="btn btn-primary"
            (click)="onStartGamecontrol(gamecontrolInput)">Start Game</button>
            <button
            class="btn btn-primary"
            (click)="onStopGameControl(gamecontrolInput)">Stop Game</button>
            <hr>
          <label>Odd</label>
          <input
            type="text"
            class="form-control"
            #oddInput>
            <label>Even</label> 
           <input
            type="text"
            class="form-control"
            #evenInput>
          <br>
          
        </div>
      </div>-->

      
<p> {{ even }}</p>
      